wikitextparser==0.47.0
gephistreamer==2.0.3
iso639==0.1.4
pandas>=1.1.5
numpy>=1.19.4
networkx==2.5
flask==1.1.2
matplotlib>=3.3.3
langdetect==1.0.8
xlsxwriter==1.3.7
openpyxl==3.0.5
spacy==3.0.0
Cython==0.29.21
scikit-learn==0.24.0
xlrd==1.2.0
mypy-extensions==0.4.3
qwikidata==0.4.0
pytorch-lightning==1.1.8
torch==1.7.1
hydra-core==1.0.0rc2
omegaconf==2.0.6
transformers==4.2.2
lapsolver==1.1.0
stanza==1.2
pycorenlp==0.3.0
nltk==3.5
qwikidata
docopt
ipdb
markupsafe==2.0.1